.nav{
    position: relative;
    left: -7px;
    height: 50vh;
    top: 8vh;
}
.greet{
    font-size: 28px;
    z-index: 10;
    letter-spacing: 4px;
}
.intro{
    text-align: center;
    letter-spacing: 4px;
    font-size: 18px;
    color: rgb(226, 226, 226);
}
.intro1{
    text-align: left;
    letter-spacing: 4px;
    font-size: 15px;
    position: relative;
    top: 7vh;
    width: 100vw;
    font-weight: bold;
    left: 5vw;
}
.intro2{
    text-align: right;
    letter-spacing: 4px;
    font-size: 12px;
    position: relative;
    top: 5vh;
    
    
}
.or{
    position: relative;
    left: 47vw;
    top: -6vh;
    color: rgb(226, 226, 226);
}
.find{
    text-align: center;
    font-size: 23px;
}
.driverCust{
    position: relative;
    width: 90vw;
    height: 10vh;
    left: 5vw;
    top: 5vh;
    font-weight: bold;
    font-size: 20px;
}
.driver{
    position: absolute;
    top: 50%;
    left: 5%;
    cursor: pointer;
    border: 1px solid rgb(236, 235, 235);
    border-radius: 5px;
    cursor: pointer;
}
.cust{
    position: absolute;
    right: 5%;
    top: 50%;
    cursor: pointer;
    border: 1px solid rgb(236, 235, 235);
    border-radius: 5px;
    cursor: pointer;
}
.finda{
    text-align: center;
    font-size: 23px;
    position: relative;
    top: 20px

}
button{
    padding: .35rem 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    color: rgb(255, 150, 26);
    background-color: black;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.45);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.45);
    box-shadow: 0 1px 0 rgba(0,0,0,.45);
    width: 5rem;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 9px;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 0.5em;
}
.footer {
        margin-top: 1rem;
        padding: 1rem;
        position: absolute;
        bottom: -20em;
        width: 100vw;
        text-align: -webkit-auto;
        opacity: 0.6;
        color: currentColor;
        text-shadow: 0 1px rgba(255, 255, 255, 0.1);
    }

    a:link, a:visited {
        color: wheat;
        text-decoration: underline;
        cursor: auto;
      }
      
      a:link:active, a:visited:active {
        color: currentColor;
      }