.map{
    width: 100vw;
    height: 40vh;
    position: relative;
    top: 5vh;
    left:2vw;
}
.button{
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 3vh;
}
.line{
    background-image: linear-gradient(to right, orange , red);
    width:80vw;
    position:relative;
    left:-2vw;
}
.list{
    list-style: none;
    position: relative;
    left: 28vw;
}