.signin{
    width:95vw;
}
.registration{
    text-align: center;
}
/* .field{
    background-color: red;
} */
.button{
    display: block;
    position: relative;
    left: 53%;
    transform: translate(-50%);
    cursor: pointer;
}

.dezz{
    position: relative;
    left: 2vw;
    width: 85vw;
}

